body {
  background: linear-gradient(
    109.6deg,
    rgb(238, 241, 241) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  font-family: "Montserrat", sans-serif;
  color: rgb(190, 190, 190);
}

h2 {
  font-size: 27px;
  color: rgb(245, 245, 245);
}

h3 {
  font-size: 10px;
  margin: 0 auto;
}

h4 {
  position: relative;
  top: 34px;
  color: whitesmoke;
  font-size: 20px;
}

.wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  background-image: url("../images/background4.jpg");
  text-align: center;
  height: 525px;
}

.head {
  font-size: 60px;
  color: whitesmoke;
}

.time-date {
  margin-top: 6px;
}

#celsius-option,
#fahrenheit-option {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  color: whitesmoke;
}

#celsius-option {
  position: relative;
  top: -25px;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.slash {
  font-size: 45px;
}

.search-form {
  margin-top: 20px;
  margin-right: 20px;
}

.icon {
  width: 50%;
}

.humidity,
.wind {
  position: relative;
  top: 120px;
}

hr.divider {
  margin: 3px 0 16px 0;
}

.temperature-celsius {
  font-weight: bold;
}

.location-button {
  position: relative;
  top: 1px;
  color: rgb(229, 226, 226);
}

.location-button:hover {
  color: white;
  cursor: pointer;
}

.weekday {
  font-weight: bold;
}

.reference {
  text-align: left;
  margin: 0 auto;
  color: #000000;
}
